.burgerMenu__wrapper {
  display: flex;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  background: rgba(0, 0, 0, 0.5);
  z-index: 4;
}
.burgerMenu__wrapperOpened {
  display: flex;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 390px;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  background: rgba(0, 0, 0, 0.5);
  z-index: 4;
  visibility: visible;
  opacity: 1;
}
.burgerMenu__content {
  margin: 0 auto 0 0;
  /* padding: 22px; */
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  background-color: #ffffff;
  width: 340px;
  z-index: 12;
  height: auto;
}
.burgerMenu__header {
  display: flex;
  width: 296px;
  margin: 18px auto 32px;
  justify-content: space-between;
}
.burgerMenu__close {
  width: 17px;
  height: 17px;
  background-image: url('../../public/popupClose.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin: 13.5px 0 0 0;
}
.burgerMenu__cancelSearch {
  width: 159px;
  height: 34px;
  border: 1px solid rgba(255, 92, 0, 1);
  border-radius: 16px;
  display: inline-block;
  position: absolute;
  top: -63px;
  left: 140px;
  color: rgba(255, 92, 0, 1);
  background-color: #ffffff;
  padding-right: 20px;
  text-align: right;
  margin-top: 3px;
  background-image: url('../../public/cancelSearchArrow.svg');
  background-repeat: no-repeat;
  background-position: 18px 11px;
  visibility: hidden;
}

.burgerMenu__search {
  width: 296px;
  border-radius: 22px;
  display: flex;
  margin: 0 auto 19px;
  height: 44px;
  position: relative;
  background: rgba(247, 248, 250, 1);
}
.burgerMenu__searchIcon {
  width: 22px;
  height: 36px;
  margin: 4px 10px 0 13px;
  background-image: url('../../public/searchIcon.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.burgerMenu__input {
  height: 16px;
  width: 125px;
  margin: auto 0;
  background: rgba(247, 248, 250, 1);
  border: none;
  outline: none;
}

.burgerMenu__searchResultsItemClose {
  width: 14px;
  height: 14px;
  background-image: url('../../public/inputClose.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin: 15px;
  visibility: hidden;
}
.burgerMenu__searchResultsItemCloseActive {
  width: 14px;
  height: 14px;
  background-image: url('../../public/inputClose.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin: 15px;
  visibility: visible;
  z-index: 100;
}
.burgerMenu__submit {
  width: 75px;
  height: 36px;
  border: none;
  border-radius: 20px;
  margin: 4px 4px 4px 0;
  font-family: 'Roboto';
}

.burgerMenu__search:focus-within > .burgerMenu__submit {
  background: rgba(255, 92, 0, 1);
  color: #ffffff;
}
.burgerMenu__search:focus-within > .burgerMenu__itemsSearchWrapper {
  visibility: visible;
}
.burgerMenu__input:focus + .burgerMenu__cancelSearch {
  visibility: visible;
  z-index: 100;
}
.burgerMenu__search:focus-within > .burgerMenu__searchResultsItemClose {
  visibility: visible;
}
.burgerMenu__search:focus-within + .burgerMenu__nav {
  display: none;
}
.burgerMenu__nav {
  height: 53px;
  width: 296px;
  margin: 0 auto 27px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  color: rgba(63, 63, 63, 1);
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: right;
}
.burgerMenu__navFirstLine {
  justify-content: space-between;
  display: flex;
  margin: 0 0 19px 0;
}
.burgerMenu__navSecondLine {
  justify-content: space-between;
  display: flex;
}

.burgerMenu__navItem {
  margin: 0;
}
.burgerMenu__items {
  width: 296px;
  margin: 0 auto 21px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: auto;
}
.burgerMenu__itemContainer {
  display: flex;
  flex-direction: column;
  border-radius: 24px;

  background: rgba(247, 248, 250, 1);
  height: auto;
}
.burgerMenu__item {
  width: 296px;
  height: 44px;
  display: flex;
}
.burgerMenu__itemLogo {
  width: 28px;
  height: 28px;
  background-image: url('../../public/vkIconForSearchResults.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin: 8px 3px 8px 13px;
}
.burgerMenu__itemWrapper {
  display: flex;
  justify-content: space-between;
  margin: 8px 12px 8px 5px;
  width: 238px;
}
.burgerMenu__itemName {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}
.burgerMenu__itemArrowDown {
  width: 20px;
  height: 20px;
  background-image: url('../../public/menuItemArrowDorn.svg');
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
}
.burgerMenu__itemArrowUp {
  width: 20px;
  height: 20px;
  background-image: url('../../public/menuItemArrowUp.svg');
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
}
.burgerMenu__listOptions {
  width: 318px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid black;
  display: none;
}
.burgerMenu__listOptionsOpened {
  width: 318px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  display: flex;
  margin-bottom: 20px;
  margin-left: 25px;
}
.burgerMenu__option {
  width: 318px;
  height: auto;
  display: flex;
  background-color: #ffffff;
  border-radius: 49px;
  box-shadow: 4px 6px 18px 0px rgba(75, 61, 69, 0.2);
}
.burgerMenu__optionIcon {
  width: 28px;
  height: 28px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../public/vkIconCircle.svg');
  display: flex;
  align-self: center;
  margin: 10.5px 4px 10.5px 12px;
}
.burgerMenu__optionText {
  display: flex;
  flex-direction: column;
  width: 241px;
  height: 41px;
  margin: 4px 4px 4px 0;
}
.burgerMenu__optionName {
  color: #252525;
  margin: 0 0 3px 0;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.burgerMenu__optionPrice {
  display: inline-block;
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}
.burgerMenu__optionPriceDothSpan {
  display: inline-block;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 600;
  line-height: 16.5px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}
.burgerMenu__optionPriceSpan {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.burgerMenu__optionIconClose {
  width: 20px;
  height: 20px;
  background-image: url('../../public/optionItemArrowLeft.svg');
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
}
.burgerMenu__searchResultsItem {
  box-shadow: 4px 6px 18px 0px #4b3d4533;
  padding: 5px 11.5px 3px 13px;
  width: 257.5px;
  margin-bottom: 12px;
  border-radius: 38px;
  background-color: #ffffff;
  display: flex;
}
.burgerMenu__searchResultsItemIcon {
  width: 28px;
  height: 28px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../public/vkIconCircle.svg');
  display: flex;
  align-self: center;
  margin: 0 10px 0 0;
}
.burgerMenu__searchResultsItemText {
  display: flex;
  flex-direction: column;
  width: 220px;
}
.burgerMenu__searchResultsItemName {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #252525;
  margin: 0 0 3px 0;
}
.burgerMenu__searchResultsItemName {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #252525;
  margin: 0 0 3px 0;
}
.burgerMenu__searchResultsItemCloseIcon {
  width: 20px;
  height: 20px;
  background-image: url('../../public/closeBlackIcon.svg');
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
}
.burgerMenu__searchResultsItemPrice {
  display: inline-block;
  display: flex;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}
.burgerMenu__searchResultsItemPriceSpan {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.burgerMenu__searchResultsItemPriceDothSpan {
  display: inline-block;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  line-height: 16.5px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}
.burgerMenu__itemsSearchWrapper {
  width: 282px;
  padding: 0 36px 40px 22px;
  height: auto;
  position: absolute;
  top: 60px;
  left: -22px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  z-index: 100;
  visibility: hidden;
}
@media screen and (max-width: 389px) {
  .burgerMenu__content {
    width: 320px;
  }
  .burgerMenu__search {
    width: 276px;
  }
  .burgerMenu__input {
    width: 103px;
  }
  .burgerMenu__cancelSearch {
    left: 120px;
  }
  .burgerMenu__header {
    display: flex;
    width: 276px;
  }
  .burgerMenu__nav {
    height: 53px;
    width: 276px;
  }
  .burgerMenu__items {
    width: 276px;
  }
  .burgerMenu__item {
    width: 276px;
  }
  .burgerMenu__listOptions {
    width: 298px;
  }
  .burgerMenu__listOptionsOpened {
    width: 298px;
  }
  .burgerMenu__option {
    width: 298px;
  }
  .burgerMenu__optionText {
    width: 221px;
  }
  .burgerMenu__itemsSearchWrapper {
    width: 262px;
  }
  .burgerMenu__searchResultsItem {
    width: 251.5px;
  }
}
